<section id="abtmenu">
  <div class="content">
    <header>
      <h1>OUR EXCITING MENUS</h1>
      <p>We Offer Free Home Delivery</p>
    </header>
    <p>
      Our menu focuses on dishes cooked on the open grill along with a selection of traditional well-loved Tandoori classics and contemporary curries, 
      with well-balanced flavours. Specials include butter chicken, paneer butter masala and salmon tikka masala, 
      cooked with real flair and precision, served with warmth and charm. <br>

    Vegetarians and Vegans are very well catered for and our knowledgeable staff will be able to advise on 
    allergens and which dishes can be adapted for any dietary preferences that you may have. </p>
  </div>
  <span class="image object">
    <!-- <img src="assets/images/delivery-boy.gif" alt="" /> -->
  </span>
</section>