<section id="abtmenu">
  <div class="content">
    <header>
      <h1>OUR EXCITING MENUS</h1>
      <p>We Serve High Quality of Food Only !!</p>
    </header>
    
    <p>
      Our menu focuses on dishes cooked on the open grill along with a selection of traditional well-loved Tandoori classics and contemporary curries, 
      with well-balanced flavours. Specials include butter chicken, paneer butter masala and salmon tikka masala, 
      cooked with real flair and precision, served with warmth and charm. <br>

    Social was the 1st Indian restaurant in Estonia launced more than 40 vegan dishes and got a best place in Vegan community as well as well recognized in 'Taimetoidumess' 2019, 2020.
    
    <!-- We love Vegetarians and Vegans are very well catered for and our knowledgeable staff will be able to advise on 
    allergens and which dishes can be adapted for any dietary preferences that you may have.  -->
  
  </p>

  </div>
  <span class="image object">
    <img src="assets/images/pic10.jpg" alt="" />
  </span>
</section>