<section id="daymeal">
	<header class="major">
		<h2>Daymeal Offers</h2>
	</header>
	<div class="features">
		<p>Coming Soon.</p>

		<article class="articlep">
			<div class="tag-links">
				<a href="https://www.thesocial.ee/#dailyMeal">Unlimited_Food</a> 
				<a href="https://www.thesocial.ee/#dailyMeal">Buffet</a> 
				<a href="https://www.thesocial.ee/#dailyMeal">HealthyFood</a> 
				<a href="https://www.thesocial.ee/#dailyMeal">Tandoor & ŠaŠlÕkk</a>      
				<a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 6.90 </a>        
				<a href="https://www.thesocial.ee/#dailyMeal">Vegan</a>
				<a href="https://www.thesocial.ee/#dailyMeal">Vegetarian</a> 
				<a href="https://www.thesocial.ee/#dailyMeal"><span>€ </span> 5.90 </a> 
			</div>
			<div class="articlep-header-wrap">
				<div class="articlep-meta">
					<img class="author-avatar" src="/img/team/4.gif" alt="chef avatar">
					<span class="articlep-author">Best of <a href=""> Chef</a></span>
					<time class="published" datetime="2019-01-14"> Monday</time>
				
				</div><!-- .articlep-meta -->
			</div><!-- .articlep-header-wrap -->
		<div class="articlep-content" style="padding: 10px">
			<p>
				<STRONG style="color: #cd9023;"> Grill & ŠaŠlÕkk:  </STRONG> Peri Peri Chicken Grilled in Tandoor and Served with Rice and Fresh salad.<br> <br> 
				<STRONG style="color: #cd9023;"> Non-Vegetarian:  </STRONG> &nbsp; &nbsp;Butter Chicken with Basmati Rice & Salad. <br> <br>
			   <STRONG style="color: #cd9023;">  Vegan/Vegetarian: </STRONG>  Dal Takda with Basmati Rice & Salad (mention if order is vegan). 
			   
	
			</p>
		</div><!-- .articlep-content -->
	</article><!-- .articlep -->
	
		<article>
			<span class="icon fa-diamond"></span>
			<div class="content">
				<h3>Portitor ullamcorper</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-paper-plane"></span>
			<div class="content">
				<h3>Sapien veroeros</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-rocket"></span>
			<div class="content">
				<h3>Quam lorem ipsum</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
		<article>
			<span class="icon fa-signal"></span>
			<div class="content">
				<h3>Sed magna finibus</h3>
				<p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
			</div>
		</article>
	</div>
</section> 