<section id="daymeal">
	<header class="major">
		<h2>Daymeal Offers</h2>
	</header>
	<div class="features">
		<article class="articlep" style="display: block;">
			<div class="tag-links">
				<a href="">Unlimited_Food</a> 
				<a href="">HealthyFood</a> 
				<a href="">Tandoor & ŠaŠlÕkk</a>      
				<a href=""><span>€ </span> 5.90 </a>        
				<a href="">Vegan</a>
				<a href="">Vegetarian</a> 
				<a href=""><span>€ </span> 5.50 </a> 
				<a href="">Buffet</a> 
			</div>
			<div class="articlep-header-wrap">
				<div class="articlep-meta">
					<img class="author-avatar" src="assets/images/4.gif" alt="chef avatar">
					<span class="articlep-author">Best of <a href=""> Chef</a></span>
					<time class="published" datetime="2019-01-14"> Monday</time>
				
				</div><!-- .articlep-meta -->
			</div><!-- .articlep-header-wrap -->
		<div class="articlep-content" style="padding: 10px">
			<p>
				<STRONG style="color: #cd9023;"> Chicken/Kana Tikka:  </STRONG>  Peakoka erilises vürtsisegus marineeritud kana, mis on grillitud vardas tandoori ahjus. <br> <br> 
				<STRONG style="color: #cd9023;"> Pekingi Kana: </STRONG> &nbsp; &nbsp; Praetud kanatükid ja aedvilja valik tomati ja sojakastmega.  <br> <br>
			</p>
		</div><!-- .articlep-content -->
	</article><!-- .articlep -->
	</div>
</section> 